<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Location of where Filezilla Server is installed, which contains "FileZilla Server.xml" file -->
        <add key="Root"      value="C:\FileZilla"/>

        <!-- Downloads' folder for users access -->
        <add key="Downloads" value="C:\FileZilla\Downloads"/>

        <!-- Users' folder -->
        <add key="Users"     value="C:\FileZilla\Users"/>
    </appSettings>
</configuration>
